<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjx.dao.GoodsMapper">
    <select id="findGoodsList" resultType="goods">
      select id, imgs, title, marketPrice, sellPrice, stock from goods limit #{start}, 4
    </select>

    <select id="findGoodsById" resultType="goods">
        select * from goods where id = #{id}
    </select>
</mapper>