<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjx.dao.NewsCommentsMapper">
    <select id="findByNewsId" resultType="newsComments">
      select * from newsComments where newsId = #{0} order by id desc limit #{1},#{2}
    </select>

    <insert id="addNewsComment" parameterType="newsComments">
        insert into newsComments (id, newsId, userName, ctime, content)
          values(default, #{newsId}, #{userName}, #{cTime}, #{content})
    </insert>
</mapper>